# Installing MySQL Connector

In [ ]:
!python -m pip install mysql-connector-python

# Import mysql Connector

In [22]:
import mysql.connector as con

# Connection to DATABASE

In [23]:
import mysql.connector as con
new_db = con.connect(
    host = "localhost",
    user = "root",
    password = "root"
)
print (new_db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001C42FC66A00>

# Creating a DataBase

In [26]:
import mysql.connector as con
new_db = con.connect(
    host = "localhost",
    user = "root",
    password = "root"
)
new_cursor = new_db.cursor()
new_cursor.execute("CREATE DATABASE myData")

# Check if database exists (Created)

In [29]:
import mysql.connector as con
new_db = con.connect(
    host = "localhost",
    user = "root",
    password = "root"
)
new_cursor = new_db.cursor()
new_cursor.execute("SHOW DATABASES")
for n in new_cursor:
    print(n)

('emp',)
('empolyee',)
('information_schema',)
('mydata',)
('mysql',)
('newdata',)
('performance_schema',)
('sys',)

# Creating Tables and showing Data

In [1]:
import mysql.connector as con
new_db = con.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "mydata"
)
new_cursor = new_db.cursor()
new_cursor.execute("CREATE TABLE students (name VARCHAR(200), regno VARCHAR(10))")

ProgrammingError: 1050 (42S01): Table 'students' already exists

# List all Tables in new database

In [42]:
import mysql.connector as con
new_db = con.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "mydata"
)
new_cursor = new_db.cursor()
new_cursor.execute("SHOW TABLES")
for n in new_cursor:
    print(n)

('students',)

# Add primary Key When Creating Table

In [33]:
import mysql.connector as con
new_db = con.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "mydata"
)
new_cursor = new_db.cursor()
new_cursor.execute("CREATE TABLE student (rollno INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(200), regno VARCHAR(10))")

# Add primary Key if Table already exists

In [35]:
import mysql.connector as con
new_db = con.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "mydata"
)
new_cursor = new_db.cursor()
new_cursor.execute("ALTER TABLE students ADD COLUMN rollno INT AUTO_INCREMENT PRIMARY KEY")

# Inserting data into Tables

In [2]:
import mysql.connector as con
new_db = con.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "mydata"
)
new_cursor = new_db.cursor()
query = "INSERT INTO students (name, regno) VALUES (%s, %s)"
values = ("rahul", "393CS19001")
new_cursor.execute(query,values)
new_db.commit()
print(new_cursor.rowcount, "new record inserted")

1 new record inserted

# Inserting Multiple records into table

In [65]:
import mysql.connector as con
new_db = con.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "mydata"
)
new_cursor = new_db.cursor()
sql = "INSERT INTO students (name, regno) VALUES (%s, %s)"
values = [
    CS19002"),
          ("Akash", "393XS19003"),
          ("Omkar","393CS19004"),
          ("Shreedhar","393CS19005")
         ]
new_cursor.executemany(sql,values)
new_db.commit()
print(new_cursor.rowcount, "new record inserted")

4 new record inserted

# Reterive Data From Table

In [1]:
import mysql.connector as con
my_db = con.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "mydata"
)
new_cursor = my_db.cursor()
sql = "SELECT * FROM students"
new_cursor.execute(sql)
result = new_cursor.fetchall()
for x in result:
    print(x)

('Abhinav', '393CS19002', 4)
('Akash', '393CS19003', 5)
('Abhinav', '393CS19002', 8)
('Akash', '393XS19003', 9)
('Omkar', '393CS19004', 10)
('Shreedhar', '393CS19005', 11)
('rahul', '393CS19001', 12)

# Reterive perticular Data From Table

In [36]:
import mysql.connector as con
my_db = con.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "mydata"
)
new_cursor = my_db.cursor()
sql = "SELECT name FROM students"
new_cursor.execute(sql)
result = new_cursor.fetchall()
for x in result:
    print(x)

('Abhinav',)
('Akash',)
('Shreedhar',)

# Reterive first record From Table

In [35]:
import mysql.connector as con
my_db = con.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "mydata"
)
new_cursor = my_db.cursor()
sql = "SELECT * FROM students"
new_cursor.execute(sql)
result = new_cursor.fetchone()
print(result)

('Abhinav', '393CS19002', 4)

# Filter The records

In [34]:
import mysql.connector as con
my_db = con.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "mydata"
)
new_cursor = my_db.cursor()
sql = "SELECT * FROM students WHERE name = 'rahul'"
new_cursor.execute(sql)
result = new_cursor.fetchall()
for x in result:
    print(x)

# reterive Records using Wildcard Character

In [32]:
import mysql.connector as con
my_db = con.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "mydata"
)
new_cursor = my_db.cursor()
sql = "SELECT * FROM students WHERE regno LIKE '%CS%'"
new_cursor.execute(sql)
result = new_cursor.fetchall()
for x in result:
    print(x)

('Abhinav', '393CS19002', 4)
('Shreedhar', '393CS19005', 7)

# Sorting the Records

In [59]:
import mysql.connector as con
my_db = con.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "mydata"
)
new_cursor = my_db.cursor()
sql = "SELECT * FROM students ORDER BY name DESC"
new_cursor.execute(sql)
result = new_cursor.fetchall()
for x in result:
    print(x)

('Akash', '393CS19003', 5)
('Abhinav', '393CS19002', 4)

# Delecting Record From Table

In [38]:
import mysql.connector as con
my_db = con.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "mydata"
)
new_cursor = my_db.cursor()
sql = "DELETE FROM students WHERE name = %s"
value = ("shreedhar",)
new_cursor.execute(sql, value)
my_db.commit()
print(new_cursor.rowcount,"records deleted from table")

1 records deleted from table

# Deleting Table

In [43]:
import mysql.connector as con
my_db = con.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "mydata"
)
new_cursor = my_db.cursor()
sql = "DROP TABLE IF EXISTS student"
new_cursor.execute(sql)

# updating Table

In [58]:
 import mysql.connector as con
my_db = con.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "mydata"
)
new_cursor = my_db.cursor()
sql = "UPDATE students SET regno = %s WHERE regno = %s"
value = ("393CS19003", "393XS19003")
new_cursor.execute(sql,value)
my_db.commit()
print(new_cursor.rowcount, "records Updated")

1 records Updated

# Reterive exact number of records from table

In [66]:
import mysql.connector as con
my_db = con.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "mydata"
)
new_cursor = my_db.cursor()
sql = "SELECT * FROM students LIMIT 2 OFFSET 3"
new_cursor.execute(sql)
result = new_cursor.fetchall()
for x in result:
    print(x)

('Akash', '393XS19003', 9)
('Omkar', '393CS19004', 10)